* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

nav {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    background-color: blueviolet;
}

nav > h1 {
    font-size: 2.5em;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.form {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 20px;
}

.tab {
    border: solid 1px black;
    max-width: 100%;
}